header {
  display: flex;
  align-content: center;
  
}


h2 {
  width: 400px;
  display: flex;
  border: solid;
  margin: 0px 5px 0px 5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  


  }

  li {
  display: flex; 
  width: 500px;
  margin: 0px 10px 0px 10px;
  border: solid;
    
  

  }

  .content{
    display: flex;
    border: solid;
    flex-direction: row;
    

}

  .aside {
    display: flex;
    flex-direction: column;
    border: solid;
  }

  .slidebox{
    border: solid;
    width: 250px;
    text-align: center;
   
  }

  .article{
    display: flex;
    flex-direction: row;
  }


.poem{
  border: solid;
  

}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .nav > li {
  display: flex; 
  width: 100px;
  margin: 0px 0px 0px 0px;
  border: solid;
  flex-wrap: wrap;
}
    
    .poem{
      border: solid;
      
    }
    
    .article {
      display: flex;
      flex-direction: column;
      width: 400px;
      border: solid;
      
      
     } 
    
    .aside {
      border: solid;
      width: 120px;
    }
    
    .slidebox {
      border: solid;
      width: 100px;
      display: flex;
      margin: 100px 0px 50px 0px;
      
      
    }
    
header{
  display: none;

}
}

/*  Small devices    */
@media (max-width:599px) {

header,.content{
  display: none;
}

.nav {
  display: flex;
  flex-direction: column;

  }


.nav > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px 50px 0px;
  border: solid;
}


}